* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #303433;
}

body {
  background: radial-gradient(
      circle,
      rgba(21, 160, 225, 1) 25%,
      rgba(139, 51, 197, 1) 100%
    )
    fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN PAGE */

section {
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 130px;
  max-width: 450px;
  padding: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 180px;
  height: 4px;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  margin: 22px;
  border-radius: 75%;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}

input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 14px 62px;
}

input ~ i {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(97, 97, 97);
  transition: color 0.4s;
}

input:focus ~ i {
  color: #b668ff;
}

button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 20px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

/* HEADER (NAVBAR) */

.navbar {
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  position: fixed;
  overflow: hidden;
}

.logo {
  height: 50px;
  width: 80px;
  margin: 12px;
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-item {
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.nav-item:hover {
  cursor: pointer;
}

.navbar-right {
  float: right;
}

/* HOME PAGE */

.box {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50px;
  width: 200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

/* ----  Responsiveness   ----  */

@media (max-width: 780px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
